.form_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.reset_box {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.input_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input_row {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.label_text {
    white-space: nowrap;
}

.two_inputs_row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input_subscribe_column,
.input_flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input_subscribe_column {
    gap: 1rem;
}

.forgot_link {
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--black_blue);
    font-weight: 600;
}

.forgot_link:hover {
    color: #616161;
}

.login_input {
    width: 100%;
    border-radius: 1.25rem;
    font-size: 1rem;
    color: var(--black_blue);
    padding: 0.5rem 1rem;
    margin: 0;
    border: none;
}

.login_input:focus {
    outline: none;
    offset: inherit;
}

.two_inputs_row .error_text {
    padding: 0.5rem;
}

.error_text {
    max-width: 80%;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    color: var(--violet);
    padding-top: 0.5rem;
}

.subtitle {
    font-size: 1rem;    
    color: var(--gray_blue);
    padding: 0.5rem 0;
}

.bold {
    font-weight: 600;
}

.flag_wrapper {
    display: block;
}

.select_flag_wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1.25rem;
    padding: 0.2rem;
}

.country_select {
    background-color: transparent;
    font-size: 1rem;
    color: var(--black_blue);
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    appearance: none;
    border: none;
    cursor: pointer;
}

.country_select:active, select:focus {
    outline: none;
}

.select_wrapper {
    position: relative;
    width: 100%;
}

.tiny_select_wraper {
    position: relative;
    align-self: flex-start;
}

.tiny_select {
    padding: 0.625rem 2rem 0.625rem 1.25rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    margin: 0;
    appearance: none;
    border: none;
    cursor: pointer;
}

.num_input,
.custom_select {
    width: 100%;
    border-radius: 1.25rem;
    font-size: 1rem;
    color: var(--black_blue);
    padding: 1rem 2rem 1rem 1rem;
    margin: 0;
    appearance: none;
    border: none;
    cursor: pointer;
}

.num_input:focus {
    outline: none;
    offset: inherit;
}

.added_margin_top {
    margin-top: 1rem;
}

.tiny_select_wraper::after,
.select_wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    right: 0.5rem;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: var(--black_blue) transparent transparent transparent;
}

.flag_image {
    margin-left: 10px;
    padding-top: 5px;
}

.date_input {
    max-width: 700px;
    height: 3em;
    padding: 10%;
    border-radius: 25px;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

.text_select_box {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.custom_option {
    color: var(--black_blue);
    padding: 1rem 0.5rem;
}

.custom_option:hover {
    background-color: var(--violet);
}

.custom_option:checked {
    color: white;
    background-color: var(--violet);
}

.btn_group {
    display: flex;
    gap: 2rem;
}

@media screen and (min-width: 320px) {
    .error_text {
        font-size: 0.6rem;
    }

    .label_text {
        white-space: break-spaces;
        font-size: 0.8rem;
        text-align: left;
    }

    .custom_option,
    .login_input::placeholder {
        font-size: 0.9rem;
    }

    .login_input {
        font-size: 0.9rem;
        padding: 1rem 1.5rem;
    }

    .two_inputs_row {
        flex-direction: column;
    }

    .btn_group {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) {
    .error_text {
        font-size: 0.8rem;
    }

    .login_input {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .label_text {
        white-space: nowrap;
    }

    .label_text,
    .custom_option,
    .login_input::placeholder {
        font-size: 1rem;
    }

    .two_inputs_row {
        flex-direction: row;
        align-items: flex-end;
    }

    .btn_group {
        flex-direction: row;
    }
}