.Logo {
    display: inline-block;
    width: 200px;
    height: 35px;
    background: url("../../assets/img/logo.svg") center/contain no-repeat;
}

@media screen and (max-width: 600px) {
    .Logo {
        width: 146px;
    }
}