.recommendation {
    background-color: var(--light_blue_half_opacity);
    padding: 10px 16px;
    border-radius: 15px;
}

.recommendationTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.fullImage {
    max-width: 800px;
    max-height: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullImage img{
    width: 100%;
    max-height: 400px;
}

.recommendationDatetime {
    font-size: 12px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.editBtn {
    background: url("../../../../assets/img/icon-edit.svg") center/cover no-repeat;
    width: 22px;
    height: 24px;
    cursor: pointer;
}

.deleteBtn {
    background: url("../../../../assets/img/icon-trash-can.svg") center/contain no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal_flex_column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.title_box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.modal_title {
    text-align: center;
    font-size: 1.1rem;
    line-height: 150%;
    color: var(--black_blue);
    font-weight: 700;
    width: 100%;
    margin: 0;
}

.violet {
    color: var(--violet);
}

.modal_btn_group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.rerecommendationFormTop {
    display: flex;
    width: 100%;
    gap: 10px;
    position: relative;
    flex-direction: column;
}
.recommendationImg {
    width: 30%;
    max-width: 180px;
    position: relative;
}

.recommendationImg img {
    width: 100%;
}

.removeImage {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--bg_light_blue);
    border-radius: 50%;
}

.textarea {
    width: 100%;
    background: none;
    border: none;
    resize: none;
    font-size: 12px;
    outline: none;
    min-height: 100px;
}

.textarea:disabled {
    color: var(--black_blue);
}

.countOftext {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.recommendationFormBottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

.publicationBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
}

@media screen and (min-width: 600px) {
    .recommendation {
        padding: 20px 26px;
    }

    .recommendationDatetime {
        font-size: 14px;
    }

    .rerecommendationFormTop {
        flex-direction: row;
    }

    .textarea {
        font-size: 14px;
    }
}

@media screen and (min-width: 1052px) {
    .recommendation {
        border-radius: 25px;
    }

    .recommendationDatetime {
        font-size: 16px;
    }

    .textarea {
        font-size: 16px;
    }
}
